In [6]:
import xgboost as xgb
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import sklearn
import shap
np.random.seed(42)
import warnings
warnings.filterwarnings('ignore')

In [10]:
# Autoreload
%load_ext autoreload
%autoreload 2
from mlbias.model import train_model

In [13]:
train_model(data='../data/credit_line_increase.csv')

   ID  LIMIT_BAL  SEX  RACE  EDUCATION  MARRIAGE  AGE  PAY_0  PAY_2  PAY_3  \
0   1      20000    2   1.0          2         1   24      2      2     -1
1   2     120000    2   2.0          2         2   26     -1      2      0
2   3      90000    2   3.0          2         2   34      0      0      0
3   4      50000    2   4.0          2         1   37      0      0      0
4   5      50000    1   3.0          2         1   57     -1      0     -1

   ...  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  PAY_AMT3  \
0  ...          0          0          0         0       689         0
1  ...       3272       3455       3261         0      1000      1000
2  ...      14331      14948      15549      1518      1500      1000
3  ...      28314      28959      29547      2000      2019      1200
4  ...      20940      19146      19131      2000     36681     10000

   PAY_AMT4  PAY_AMT5  PAY_AMT6  DELINQ_NEXT
0         0         0         0            1
1      1000         0      2000            1
2      1000      1000      5000            0
3      1100      1069      1000            0
4      9000       689       679            0

[5 rows x 26 columns]